<mat-card *ngIf="product.title" class="example-card" style="width:20rem">
    <mat-card-header>
        <mat-card-title class="card-title">{{product.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{product.imageUrl}}" *ngIf="product.imageUrl" alt="{{product.title}}"
        style="height: 280px; width: 320px;">
    <mat-card-content>
        <p>
            {{product.price|currency:'USD':'symbol'}}
        </p>
    </mat-card-content>

    <mat-card-actions *ngIf="showActions">
        <div class="card-footer">
            <button *ngIf="items?.quantity===0; else updateQuantity"
            mat-raised-button color="secondary" class="btn-block" (click)="addToCart()">Add To Cart</button>
            <ng-template #updateQuantity>
                <div class="row no-gutters">
                    <div class="col-2">
                        <button (click)="removeFromCart()"class="btn btn-secondary btn-block">-</button>
                    </div>
                    <div class="col text-center">{{items?.quantity}} in Cart</div>
                    <div class="col-2">
                        <button (click)="addToCart()" class="btn btn-secondary btn-block">+</button>
                    </div>
                </div>
            </ng-template>
        </div>
    </mat-card-actions>

</mat-card>
