/* You can add global styles to this file, and also import other style files */
/* @import "https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css"; */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 40px;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }